push go-quic to 0.50 when you have time. thank you.

Description
你的功能请求是否与某个问题有关？
这个版本修复了不少bug
[v0.50.0](https://github.com/quic-go/quic-go/releases/tag/v0.50.0)
This release implements server-side path-probing (as described in section 9 of RFC 9000): https://github.com/quic-go/quic-go/pull/4932, https://github.com/quic-go/quic-go/pull/4933, https://github.com/quic-go/quic-go/pull/4935, https://github.com/quic-go/quic-go/pull/4938, https://github.com/quic-go/quic-go/pull/4939, https://github.com/quic-go/quic-go/pull/4940, https://github.com/quic-go/quic-go/pull/4941, https://github.com/quic-go/quic-go/pull/4944, https://github.com/quic-go/quic-go/pull/4947, https://github.com/quic-go/quic-go/pull/4959.

When the server receives a packet for an existing connection from a different IP address / port, it first needs to probe the new path before it can send packets on that path. This happens when the client experiences a NAT rebinding, and when the client attempts to migrate to a new connection. Previous versions of quic-go would accept the packets from the new path, but never switch to the new path.



**use a ringbuffer to store received packets, significantly reducing memory consumption**

描述你希望的解决方案
push go-quic to 0.50.1



v0.50.0 doesn't implement connection migration as I understand it. My plan is to skip this version and wait until both ends have fully implemented connection migration.

> [@haruue](https://github.com/haruue) [@tobyxdd](https://github.com/tobyxdd) 想请教一下大佬，为什么hysteria需要自己维护一个quic-go的fork？因为quic-go的ABI不稳定吗？

hysteria 的 quic-go fork 改了不少地方。主要是性能优化，拥塞控制和连接迁移。

> v0.50.0 doesn't implement connection migration as I understand it. My plan is to skip this version and wait until both ends have fully implemented connection migration.

client-side support was released [today with v0.51.0](https://github.com/quic-go/quic-go/releases/tag/v0.51.0)!